.card {
  background-color: cornflowerblue;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

input {
  width: 60%;
  padding: 10px 4px;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: aliceblue;
  border-radius: 12px;
  color: cornflowerblue;
}

.submit-btn {
  background-color: aliceblue;
  width: 120px;
  height: 40px;
  margin-right: 40px;
  border-radius: 12px;
  border: none;
  color: cornflowerblue;
  font-weight: 900;
}

.total-note{
  background-color: cornflowerblue;
  width: 120px;
  height: 40px;
  color: aliceblue;
  border-radius: 18px;

}

.nav p{
  display: flex;
  place-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.logo {
  display: flex;
  place-items: center;
  justify-content: space-between;
}

.card-ctr{
    color: aliceblue;
    margin-top: 15px;
    padding: 2px 20px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: cornflowerblue;
  display: flex;
  place-items: center;
}

.error-message{
  text-align: center;
  color: cornflowerblue;
  font-size: 20px;
  max-width: 20px 0;
  font-weight: 600;
}

.message{
  text-align: center;
  color: cornflowerblue;
  font-size: 20px;
  max-width: 20px 0px;
  font-style: italic;
  font-weight: 600;
}

.error-message{color: red;}

svg{
  cursor: pointer;
}

.intro , .intro h1{
  text-align: center;
  color: cornflowerblue;
}